<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo222.dao.QuestionDao">

    <!--返回所有用户信息-->
    <select id="findAll" resultType="com.example.demo222.entity.Question">
        select * from question;
    </select>

    <!--插入新的问题-->
    <insert id="save" parameterType="com.example.demo222.entity.Question">
        insert question (topicid,username,title) values (#{topicid},#{username},#{title});
    </insert>
    <!--通过username查询问题-->
    <select id="selectbyusername" resultType="com.example.demo222.entity.Question">
        select * from question where username = #{username};
    </select>

    <!--通过id删除问题-->
    <delete id="deleteById">
        delete from question where topicid=#{topicid};
    </delete>

    <!--通过id查询问题-->
    <select id="selectById" resultType="com.example.demo222.entity.Question">
        select * from question where topicid = #{topicid};
    </select>
</mapper>