<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" width="50%">
    <tr>
        <th>topic_id</th>
        <th>username</th>
        <th>title</th>
    </tr>
    <!-- 遍历集合的每一项起名为user  -->
    <tr th:each="topic:${questions}">
        <td th:text="${topic.topic_id}"></td>
        <td th:text="${topic.username}"></td>
        <td th:text="${topic.title}"></td>
    </tr>
</table>

<form name="form" accept-charset="utf-8" action="/comment">
    <div class="inputOuter2">
        查询问题评论的topic_id:<input type="text" id="topic_id" name="topic_id" maxlength="16" />
    </div>
    <div>
        <input type="submit" value="查询"/>
    </div>
</form>

<h5>添加话题</h5>
<form name="form" accept-charset="utf-8" action="/insertQuestion">
    <div class="inputOuter2">
        topic_id:<input type="text" id="topic_id1" name="topic_id" placeholder="请输入..." maxlength="16" />
    </div>

    <div class="inputOuter2">
        username:<input type="text" id="username" name="username" placeholder="请输入..." maxlength="700" />
    </div>

    <div class="inputOuter2">
        title:<input type="text" id="title" name="title" placeholder="请输入..." maxlength="1000" />
    </div>

    <div >
        <input type="submit" value="添加"/>
    </div>
</form>

<!--删除我的问题-->
<h5>删除我的回答</h5>
<form name="form" accept-charset="utf-8" action="/delete">
    <div class="inputOuter2">
        topic_id:<input type="text" id="topic_id2" name="topic_id" placeholder="请输入..." maxlength="16" />
    </div>

    <div >
        <input type="submit" value="删除"/>
    </div>
</form>

<a th:href="@{http://localhost:8080/home}">我的</a>
</body>
</html>